.card {
  font-size: 24px;
  float: left;
  padding: 10px;
  background-color: "transparent";
  width: 45px;
  font-family:'arial unicode MS', arial, geneva, sans-serif;
}

.red {
  color:#ff0000;
}

.black {
  color: #000000;
}
.container {
  position: absolute;
}

.gameboard {
  position: relative;
  float:left;
}

.row {

}
